{% extends "base.html" %}
{% block content %}

<div class="row">
     <div class="eleven columns">
       &nbsp;&nbsp;<h2>归档</h2>

       <dl>
       {% for article in dates %}
           <dd>{{ article.locale_date }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
       {% endfor %}
       </dl>

     </div><!-- /.eleven.columns -->

  {% include 'sidebar.html' %}
</div><!-- /.row -->
{% endblock %}
